root = true # Control configuration file .editorconfig Whether it is effective
​
[**] # Match all files
indent_style = tab # Extinction style, optional Space | TAB
indent_size = 4 # Indentation space
Charset = UTF-8 # Settings
trim_trailing_whitespace = true # Delete a line of front and rear spaces
insert_final_newline = true # Set True to indicate the file with a blank line at the end
end_of_line = lf
​
[**.md] # Match MD file
trim_trailing_whitespace = false
